@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Indie+Flower&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /*font-family: "Permanent Marker";*/ 
    font-family: "Sora", sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 20px;    
    margin-bottom: 20px;        
    z-index: 1;
    position: relative;  
}

header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 25px;    
            
}

header ul li a{
    text-decoration: none;
    color: white;
    font-family: "Permanent Marker";
    font-size: larger;
    text-transform: lowercase;
}
header ul li a:hover{
    color: #ffbf0f;
    transition:all ease-in-out 0.2s;       
}

body{
    background: black url(imagens/fundo.webp) center no-repeat fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
    
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Deixa mais escuro */
    backdrop-filter: blur(4px); /* Desfoca o fundo */
    z-index: -1;  
    
}

main{
    display: flex;
    flex-flow: column ;
    justify-content: center;
    align-items: center;    
}

main .exo{
    display: flex;    
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    height: 100vh;     
    z-index: 0; 
}

main .exo h1{
    font-family: "Permanent Marker";
    font-weight: bolder;
    font-size: 6rem;
}

main .exo h3{    
    font-weight: lighter;
    font-size: 1rem;
}


#s1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color:#050302;     
       
    
    width: 100%;
    margin-top: 48%;
    padding: 20px;
    padding-bottom: 150px;  
}

.eiu{
    display: flex;
    align-items: center;
    justify-content: center;     
    width: 100%;
    margin-top: 40px;  
    gap: 80px; 
}

.eiu .lera {     
   color: #4d3f28;         
   font-family: "Gloria Hallelujah";
      
}

.eiu .lera p { 
    font-size: 1.3rem;
    font-family: "Gloria Hallelujah";
    line-height: 2.5;
       
 }

.eiu .his {    
    width: 500px;
}

.eiu .his p,h2{    
    font-family: "Gloria Hallelujah";
    font-size: 1.3rem;
    line-height: 1,8;
}

.imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#btnTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 16px;
    border: none;
    border-radius: 50%;
    background-color: #852020;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s;
    z-index: 1000;
}
  
#btnTop:hover {
    background-color: #555;
    transform: scale(1.1);
}
  